<component name="ArtifactManager">
  <artifact type="war" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="remoteServer_war.war">
      <element id="artifact" artifact-name="remoteServer:war exploded" />
    </root>
  </artifact>
</component>